amcl:
  ros__parameters:
    use_sim_time: False
    global_frame_id: "map"
    odom_frame_id: "odom"
    base_frame_id: "base_link"
    scan_topic: "/scan_360"
    set_initial_pose: true
    initial_pose: {x: 0.0, y: 0.0, z: 0.0, yaw: 0.0}
    
    # Cấu hình Omni cho Mecanum
    robot_model_type: "nav2_amcl::OmniMotionModel"
    
    # Cấu hình tối ưu cho máy yếu
    min_particles: 200
    max_particles: 1000
    update_min_d: 0.1
    update_min_a: 0.1
    resample_interval: 2
    transform_tolerance: 1.5 # Tăng dung sai chống lag
    
    # Tham số lọc nhiễu
    z_hit: 0.5
    z_rand: 0.5
    z_max: 0.05
    z_short: 0.05
    sigma_hit: 0.2
    laser_likelihood_max_dist: 2.0
    laser_model_type: "likelihood_field"

map_server:
  ros__parameters:
    use_sim_time: False
    yaml_filename: ""

planner_server:
  ros__parameters:
    use_sim_time: False
    expected_planner_frequency: 5.0 # 5Hz là đủ
    planner_plugins: ["GridBased"]
    GridBased:
      # Dùng NavfnPlanner (Dijkstra/A*) nhẹ nhất
      plugin: "nav2_navfn_planner/NavfnPlanner"
      tolerance: 0.5
      use_astar: true
      allow_unknown: true

global_costmap:
  global_costmap:
    ros__parameters:
      use_sim_time: False
      global_frame: "map"
      robot_base_frame: "base_link"
      
      # Chỉ cập nhật Map 1 lần/giây (Siêu tiết kiệm CPU)
      update_frequency: 1.0
      publish_frequency: 1.0
      
      resolution: 0.1
      track_unknown_space: true
      width: 50
      height: 50
      origin_x: -25.0
      origin_y: -25.0
      rolling_window: false
      
      # Footprint xe của bạn
      footprint: "[[-0.425,-0.30],[0.425,-0.30],[0.425,0.30],[-0.425,0.30]]"
      footprint_padding: 0.02
      
      plugins: ["static_layer", "obstacle_layer", "inflation_layer"]

      static_layer:
        plugin: "nav2_costmap_2d::StaticLayer"
        map_subscribe_transient_local: true

      obstacle_layer:
        plugin: "nav2_costmap_2d::ObstacleLayer"
        observation_sources: "scan"
        scan:
          topic: "/scan_360"
          data_type: "LaserScan"
          inf_is_valid: true
          clearing: true
          marking: true
          obstacle_range: 2.5
          raytrace_range: 3.0
          max_obstacle_height: 2.0

      inflation_layer:
        plugin: "nav2_costmap_2d::InflationLayer"
        cost_scaling_factor: 3.0
        inflation_radius: 0.89

# Giữ lại các node quản lý vòng đời (bắt buộc)
map_saver:
  ros__parameters:
    use_sim_time: False

robot_state_publisher:
  ros__parameters:
    use_sim_time: False